.section {
    padding: 100px 50px;
  }
  
  #about {
    background-color: #212121;
    color: #dad9d7;
  }
  
  .about-content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 64px;
    max-width: 1100px;
    justify-content: flex-start;
  }
  
  .about-content p {
    position: relative;
    z-index: 2;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #dad9d7;
  }
  
  .about-overlay-box {
    position: absolute;
    top: -20px;
    right: -100px;
    width: 300px;
    height: 200px;
    background-color: rgba(33, 33, 33, 0.5);
    z-index: 1;
  }

  /* NOVOS ESTILOS PARA A BARRA DE IDIOMA */
  .language-selector-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #232323;
    border-radius: 5rem;
    padding: 5px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .language-selector-nav button {
    background: none;
    border: none;
    /* border-radius: 5rem; */
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
  color: #dad9d7;
    transition: all 0.3s ease;
    border-radius: 5px;
  }
  
  .language-selector-nav button:hover {
  background-color: #dad9d7; /* Cor de fundo ao passar o mouse */
  color: #212121; /* Cor do texto ao passar o mouse, se desejar */
      border-radius: 5rem;

}
  
  .language-selector-nav button.active {
  background-color: #dad9d7;
  color: #212121;
        border-radius: 5rem;

  }

  .about-header-img {
    max-width: 480px;
    min-width: 320px;
    height: auto;
    border-radius: 16px;
    margin-left: auto;
    display: block;
  }